## [作業目標]
請接下列資料依照指定規則做合併：
- 依照 fruit 欄位做合併
- 依照 index 索引做合併

[簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

[簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 記得先 Import 正確的套件

import pandas as pd
import numpy as np

## 1. 請接下列資料依照指定規則做合併：
- 依照 fruit 欄位做合併
- 依照 index 索引做合併

In [2]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      0
1  banana  medium     13
2  orange     low      0
3   apple    high      4
4  banana  medium      7
5  orange     low      6
6   apple    high      0
7  banana  medium     13
8  orange     low     14
    fruit weight  price
0   apple   high      6
1  orange    low      1
2    pine   high      0
3   apple    low      0
4  orange   high     14
5    pine    low      3

In [3]:
pd.merge(df1, df2, on="fruit")

     fruit weight_x  price_x weight_y  price_y
0    apple     high        0     high        6
1    apple     high        0      low        0
2    apple     high        4     high        6
3    apple     high        4      low        0
4    apple     high        0     high        6
5    apple     high        0      low        0
6   orange      low        0      low        1
7   orange      low        0     high       14
8   orange      low        6      low        1
9   orange      low        6     high       14
10  orange      low       14      low        1
11  orange      low       14     high       14

In [10]:
# - 依照 index 索引做合併
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

## 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

因為只有其中一個dataframe有pine, 另一個dataframe沒有，所以在on的部分不會對接起來，就會不見了

## 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。
因為join要設定left跟right suffix，不然他會報錯

In [14]:
df1.join(df2, lsuffix='_left', rsuffix='_right')

  fruit_left weight_left  price_left fruit_right weight_right  price_right
0      apple        high           0       apple         high          6.0
1     banana      medium          13      orange          low          1.0
2     orange         low           0        pine         high          0.0
3      apple        high           4       apple          low          0.0
4     banana      medium           7      orange         high         14.0
5     orange         low           6        pine          low          3.0
6      apple        high           0         NaN          NaN          NaN
7     banana      medium          13         NaN          NaN          NaN
8     orange         low          14         NaN          NaN          NaN