## 作業目標:
1. 敘述統計量計算
2. 運用自定義函數apply
3. 作業重點:
    1. 了解敘述統計量並解釋
    2. 運用apply時須注意自定義函數寫法
4. 題目
    * 對以下成績資料做分析
        1. 6號學生(student_id=6)3科平均分數為何?
        2. 6號學生3科平均分數是否有贏過班上一半的同學?
        3. 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?
        4. 承上題，加分後各科班平均變多少?

score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])

In [2]:
import pandas as pd
score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

In [7]:
#1.6號學生(student_id=6)3科平均分數為何?
average_df = score_df.mean(axis=1)
print(average_df)
print(f"學生id為6的同學3科平均分數為{average_df[6]}")

student_id
1     64.000000
2     56.333333
3     44.000000
4     78.666667
5     68.666667
6     56.333333
7     64.666667
8     62.333333
9     57.333333
10    57.000000
dtype: float64
學生id為6的同學3科平均分數為56.333333333333336

In [12]:
#2. 6號學生3科平均分數是否有贏過班上一半的同學
quantile_50 = average_df.quantile(0.5)

print(f"班上同學3科平均分數的百分位數分佈50%為{quantile_50}，六號同學的平均分數為{average_df[6]}，並未贏過班上一半的同學")

班上同學3科平均分數的百分位數分佈50%為59.833333333333336，六號同學的平均分數為56.333333333333336，並未贏過班上一半的同學

In [31]:
#由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?

new_score_df = score_df.apply(lambda x : x**(0.5)*10)
print(new_score_df)
new_score_df.iloc[5, :]

            math_score  english_score  chinese_score
student_id
1            74.833148      81.240384      83.666003
2            94.868330      67.082039      58.309519
3            67.082039      56.568542      74.161985
4            83.666003      87.749644      94.339811
5            74.833148      89.442719      83.666003
6            77.459667      73.484692      74.161985
7            67.082039      83.666003      88.881944
8            58.309519      87.749644      87.177979
9            50.000000      93.273791      77.459667
10           93.808315      63.245553      65.574385

math_score       77.459667
english_score    73.484692
chinese_score    74.161985
Name: 6, dtype: float64

In [32]:
#承上題，加分後各科班平均變多少
new_score_df.mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64